@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Constant styles  */
$mainColor: #193267;
$secondColor: #0b3c26;
// $thirdColor: #252C30;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

body {
  font-family: "Cairo", sans-serif;
  line-height: normal !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* // Constant Styles */

ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */

.btn-style {
  background-color: $mainColor;
  padding: 22px 42px 22px 64px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
  border: 1px solid $mainColor;
  border-radius: 10px 0 0 10px;
  &:hover {
    color: $mainColor;
    background-color: #fff;
    border-color: #fff;
  }
}

.btn-style-rounded {
  background-color: $mainColor;
  padding: 18px 47px;
  color: #fff;
  font-size: 1.1rem;
  display: inline-block;
  border-radius: 38px;
  text-align: center;
  border: 1px solid $mainColor;
  &:hover {
    color: $mainColor;
    background-color: #fff;
    border-color: #fff;
  }
}

.card-img {
  height: 100vh;
  position: relative;

  .img-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.section_header {
  margin: 20px 0;

  h5 {
    font-size: 2rem;
    // font-family: bills;
  }
}

.side-active {
  height: 100vh;
  overflow: hidden;
  .bg-side-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 4;
  }
}

/* menu icon */
.menu_icon {
  // width: 40px;
  // position: absolute;
  // top: 5px;
  // transform: translate(0, -50%);
  right: 0;
  width: 45px;
  height: 45px;
  background-color: $mainColor;
  border-radius: 50%;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 99;
  display: none;
  align-items: center;
  /* Icon 1 */

  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    width: 1.6rem;
    height: 0.7rem;
    position: relative;
    // margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 8px;
    // width: 1.8rem;
    left: unset;
    right: 0;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 100%;
  }

  #nav-icon1.open span:nth-child(2) {
    top: 5.5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

/* side_nav */
.side-nav {
  width: 100%;
  height: 100vh;

  background-color: #fff;
  // width: 30%;
  width: 300px;
  max-width: 100%;
  margin: auto;
  position: fixed;
  // top: 0;
  box-shadow: 0 7px 19px rgba(0, 0, 0, 0.13);
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  // opacity: 0;
  // visibility: hidden;
  // z-index: -1;
  right: -100%;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow: auto;
  .side-wrapper {
    height: 70vh;
    margin-top: 90px;
  }
  .logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .side-links {
    height: 100%;
    overflow: auto;
    ul {
      li {
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        a {
          color: #000;
          display: block;
          padding: 10px 5px;
          font-size: 1rem;
        }
        &.active {
          background-color: $mainColor;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.side-nav-open {
  right: 0;
}

.nice-select {
  float: none !important;
  background-color: transparent;
}

.splashscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainColor;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  .loading {
    display: flex;
    gap: 12px;
  }

  .loading div {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 -0.4rem rgba(60, 0, 80, 0.1) inset;

    animation: cycle 1s ease-in-out infinite;
  }

  .loading div:nth-child(1) {
    animation-delay: 0;
  }

  .loading div:nth-child(2) {
    animation-delay: 0.2s;
  }

  .loading div:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes cycle {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(1rem);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.splashscreen-none {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    font-size: 1.5rem;
    color: $mainColor;
  }
}

.slick-arrow {
  z-index: 5;
  bottom: 50px;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  border: 1px solid #fff;
  &::before {
    @extend %inilizeFonrtAwsome_Before_After;
    color: $mainColor;
    transition: all 0.3s ease-in-out;
  }
  &.slick-next {
    top: unset;
    right: 40px;
    &::before {
      content: "\f105";
    }
  }
  &.slick-prev {
    top: unset;
    left: unset;
    right: 90px;
    &::before {
      content: "\f104";
    }
  }
  &:hover {
    &::before {
      color: #fff;
    }
  }
  &:focus {
    &::before {
      color: #fff;
    }
  }
}

/* ================================================================ */

/* top header */
.top-header {
  background-color: $secondColor;
  padding: 11px 0;
  .info {
    ul {
      li {
        margin-left: 60px;
      }
      a {
        color: #fff;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          direction: ltr;
          margin-right: 10px;
          font-size: 0.9rem;
        }
      }
    }
  }

  .social {
    ul.social-list {
      display: flex;
      align-items: center;
      text-align: left;
      justify-content: flex-end;
      li.social-li {
        margin-right: 15px;
      }
      a {
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
    .nice-select {
      float: none;
      height: 30px;
      line-height: 27px;
      margin-right: 15px;
      .current {
        color: #fff;
      }
    }
  }
}
/* ================================================================ */

/* logo */
.logo {
  padding: 10px 0;
}
/* ================================================================ */

/* navbar-and-slider */
.navbar-and-slider {
  height: calc(100vh - (146px + 42px));
  position: relative;
  overflow: hidden;
  .left-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 323px;
    background-color: rgba(253, 191, 53, 0.56);
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 0 0 40px;
    .left-content {
      .content {
        margin-right: -50px;
        margin-bottom: 40px;
        h1,
        h4,
        p {
          color: #fff;
        }
        h1 {
          font-size: 3.2rem;
          font-weight: bold;
        }
        h4 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  .custom-navbar {
    position: absolute;
    width: calc(100% - 323px);
    z-index: 8;
    top: 0;
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(25, 50, 103, 0.49),
      rgba(25, 50, 103, 0.39)
    );
    padding: 32px 60px;
    li {
      margin-left: 74px;
      a {
        color: #fff;
        font-size: 1.1rem;
        position: relative;
        padding-bottom: 5px;
        &::after {
          content: "";
          right: 0;
          position: absolute;
          bottom: 0;
          width: 0;
          transition: all 0.3s ease-in-out;
          height: 2px;
          background-color: #fff;
        }
      }
      &.active {
        a {
          &::after {
            width: 100%;
          }
        }
      }
      &:hover {
        a {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .header-slider {
    .card-img {
      height: calc(100vh - (146px + 42px));
    }
  }
}
.custom-navbar-and-slider {
  .left-box {
    .left-content {
      .content {
        margin-right: 10px;
        h1 {
          text-align: center;
        }
        p {
          margin-right: -50px;
          margin-top: 43px;
        }
      }
    }
  }
}

.tablet-navbar {
  padding: 20px 0;
  display: none;
  li {
    margin-left: 74px;
    a {
      color: $mainColor;
      font-size: 1.1rem;
      position: relative;
      padding-bottom: 5px;
      &::after {
        content: "";
        right: 0;
        position: absolute;
        bottom: 0;
        width: 0;
        transition: all 0.3s ease-in-out;
        height: 2px;
        background-color: $mainColor;
      }
    }
    &.active {
      a {
        &::after {
          width: 100%;
        }
      }
    }
    &:hover {
      a {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navbar-and-slider .left-box {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(9px);
    background-color: rgba(253, 191, 53, 0.56);
  }
}
/* ================================================================ */

/* about-us-section */
.about-us-section {
  padding: 25px 0 35px 0;
  h5 {
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  p {
    margin-bottom: 20px;
  }
}

/* ================================================================ */

/* services */
.services {
  background-color: #f5f5f5;
  padding: 31px 0 100px 0;
  .section-header {
    margin-bottom: 45px;
  }
}

/* ================================================================ */

/* serv-card */
.serv-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
  .card-icon {
    flex: none;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    &.yellow-icon {
      background-color: #efb532;
    }
    &.orange-icon {
      background-color: #f88b3b;
    }
    &.sky-icon {
      background-color: #3bd4f8;
    }
  }
  .card-body {
    margin-right: 22px;
    .card-title {
      color: $mainColor;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .card-text {
      font-size: 1.1rem;
      color: #5f5f5f;
    }
  }
}

/* ================================================================ */
.features {
  background-color: $secondColor;
  overflow: hidden;
  .section-header {
    margin-bottom: 30px;
    padding: 31px 0;
    h5 {
      color: #fff;
    }
  }
  .feature-list {
    margin-right: 80px;
  }
  .feature-img {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    .card-img {
      height: 600px;
      a {
        position: absolute;
        z-index: 4;
        bottom: 22px;
        width: fit-content;
        right: -100px;
        border-color: #707070;
      }
    }
    img {
      width: 100%;
    }
  }
}

/* feat-card */
.feat-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 56px;
  .card-icon {
    width: 63px;
    height: 63px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: none;
    position: relative;
    &::before {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      content: url("../images/line1.svg");
      height: 100%;
      // width: 100%;
      top: 100%;
      margin-top: 3px;
    }
  }
  &.last-card {
    .card-icon {
      &::before {
        content: "";
      }
    }
  }
  .card-body {
    margin-right: 51px;
    h5,
    p {
      margin: 0;
    }
    .card-title {
      color: #fff;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .card-text {
      color: #fff;
      line-height: 30px;
    }
  }
}

/* ================================================================ */
.media-photo {
  padding: 31px 0;
  .section-header {
    margin-bottom: 49px;
  }
  .big-img {
    .card-img {
      height: 526px;
    }
  }
  .small-images {
    ul {
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 49%;
        margin-bottom: 22px;
        .card-img {
          height: calc(504px / 2);
        }
      }
    }
  }
}

/* ================================================================ */

/* media-video */
.media-video {
  background-color: #f5f5f5;
  padding: 30px;
  .section-header {
    margin-bottom: 18px;
  }
  .video-section {
    .card-img {
      height: 367px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      width: 911px;
      max-width: 100%;
      margin: auto;
      img {
        border-radius: 30px;
      }
      .play {
        position: relative;
        z-index: 5;
      }
    }
  }
}

/* ================================================================ */

.contact-us {
  padding: 55px 0;
  overflow: hidden;
  .section-header {
    margin-bottom: 37px;
  }
}
.contact-us-box {
  border: 1px solid #707070;
  border-radius: 13px;
  padding: 40px;
  width: 1100px;
  max-width: 100%;
  position: relative;
  .map-img {
    position: absolute;
    z-index: -1;
    right: 0;
  }
  form {
    width: 70%;
    .form-group {
      margin-bottom: 25px;
    }
    .form-control {
      background-color: #f2f2f2;
      border: 0.5px solid $mainColor;
      padding: 21px 30px;
      border-radius: 9px;
      direction: rtl;
    }
    textarea {
      min-height: 158px;
      resize: none;
    }
    .btn-submit {
      button {
        border-radius: 4px;
        width: 241px;
        max-width: 100%;
        text-align: center;
        padding: 21px 30px;
        border: 1px solid $mainColor;
      }
    }
  }

  .contact-info {
    background-color: $secondColor;

    width: 434px;
    max-width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -150px;
    .info {
      padding: 14px 30px 0 30px;
    }
    h5 {
      color: #fff;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 21px;
    }
    ul {
      li {
        margin-bottom: 24px;
        span,
        i {
          color: #fff;
        }
      }
    }
    .google-map {
      iframe {
        margin-bottom: 0;
        width: 100%;
        height: 255px;
        margin-bottom: -10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

/* ================================================================ */

.site-footer {
  padding: 29px 36px;
  background-color: $mainColor;
  .footer-contact {
    h5 {
      font-weight: 600;
      font-size: 1.7rem;
      color: #fff;
      margin-bottom: 22px;
    }
    p {
      color: #fff;
      font-size: 0.8rem;
      width: 75%;
    }
  }
  .footer-links {
    h4 {
      color: #fff;
      font-size: 1.2rem;
    }
    ul {
      li {
        margin-top: 14px;
        a {
          font-size: 1rem;
          color: #d3d8e2;
          font-weight: 200;
        }
      }
    }
  }
  .footer-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    ul {
      display: flex;
      align-items: center;
      li {
        margin-left: 10px;
      }
    }
    i {
      font-size: 3rem;
      color: #fff;
    }
  }
}

.footer-logo {
  padding: 30px 0;
  text-align: center;
}
/* ================================================================ */

.photo-media-page {
  padding: 54px 0;
  .section-header {
    margin-bottom: 32px;
  }
}
.photo-media-card {
  margin-bottom: 55px;
  .card-img {
    height: 374px;
  }
}

/* ================================================================ */

/* video-media-page */

.video-media-card {
  .card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      position: relative;
      z-index: 5;
    }
  }
}

/* ================================================================ */
/* .our-features */

.our-features {
  padding: 54px 0 150px 0;
  .section-header {
    margin-bottom: 27px;
  }
  .feature-list {
    margin-right: 32px;
    .feat-card {
      .card-icon {
        background-color: $secondColor;
      }
      .card-body {
        h5,
        p {
          color: #000;
        }
      }
    }
  }
  .feature-page-img {
  }
}

/* ================================================================ */

.our-services-page {
  .services {
    background-color: #fff;
    padding: 54px 0;
  }
  .our-service-slider-section {
    background-color: #f5f5f5;
    padding: 24px 0;
    padding-bottom: 80px;
    position: relative;
    .section-header {
      position: absolute;
      top: 44px;
    }
    .row {
      justify-content: flex-end;
      margin: 0;
      .col-lg-7 {
        padding: 0;
      }
    }
    .services-slider {
      .slick-list {
        padding-top: 100px;
      }
      .slider-serv-card {
        height: 384px;
        min-width: 249px;
        max-width: 249px;
        display: flex;
        flex-direction: column;
        .card-img {
          width: 100%;
          height: 100%;
          img {
            border-radius: 10px;
          }
        }
        h5 {
          color: $mainColor;
          margin-top: 13px;
          font-size: 1.1rem;
          font-weight: bold;
          text-align: center;
        }
        &.opsite {
          margin-top: -80px;
        }
      }
      .slick-arrow {
        bottom: -70px;
        background-color: $mainColor;
        &::before {
          color: #fff;
        }
        &.slick-prev {
          left: 40px;
          right: unset;
        }
        &.slick-next {
          left: 100px;
          right: unset;
        }
      }
    }
  }
}

/* ================================================================ */

/* about-us-section-page */
.about-us-section-page {
  background-color: #000;
  padding: 0 0 95px 0;
  margin-bottom: 150px;
  .card-img {
    height: 451px;
  }
  .row {
    margin-top: 40px;
  }
  .ab-content {
    padding-right: 108px;
    position: relative;
    .note-box {
      background-color: #ed8031;
      display: flex;
      align-items: flex-start;
      padding: 25px 22px;
      // position: absolute;
      bottom: 0;
      z-index: 5;
      margin-right: 180px;
      position: relative;
      z-index: 7;
      max-width: 100%;
      margin-top: 15px;
      width: 653px;
      .card-icon {
        flex: none;
      }
      .card-body {
        margin-right: 40px;
        h5 {
          font-size: 1.3rem;
          font-weight: bold;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
    h1,
    h5,
    p {
      color: #fff;
    }
    h1 {
      font-size: 2.2rem;
      font-weight: bold;
    }
    h5 {
      font-weight: bold;
      font-size: 1.5rem;
    }
    p {
      width: 80%;
    }
  }
  .ab-img {
    position: relative;
  }
}

/* ================================================================ */

/* media */
@media (max-width: 1366px) {
  html {
    font-size: 14px;
  }
  .footer-logo,
  .logo {
    img {
      width: 170px;
    }
  }
  .navbar-and-slider {
    height: calc(100vh - (79px + 42px));
    .header-slider {
      .card-img {
        height: calc(100vh - (79px + 42px));
      }
    }
  }
  .contact-us-box .contact-info {
    left: -100px;
  }
  .navbar-and-slider .custom-navbar li {
    margin-left: 58px;
  }
}

@media (max-width: 1024px) {
  .features .feature-img .card-img {
    height: 700px;
  }
  .custom-navbar {
    display: none;
  }
  .contact-us-box .contact-info {
    width: 320px;
    left: -40px;
  }
  .tablet-navbar {
    display: block;
  }
}

@media (max-width: 991px) {
  .tablet-navbar {
    display: none;
  }
  .logo {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .menu_icon {
    display: flex;
  }
  .features {
    .feature-img {
      .card-img {
        width: 60%;
        margin: auto;
        height: 500px;
      }
    }
  }

  .media-photo {
    .big-img {
      margin-bottom: 20px;
    }
  }

  .contact-us-box {
    form {
      width: 100%;
    }
    .contact-info {
      position: unset;
      transform: none;
      margin-top: 20px;
      width: 100%;
    }
  }
  .about-us-section-page {
    .ab-content {
      margin-top: 15px;
      .note-box{
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer-logo img,
  .logo img {
    width: 130px;
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navbar-and-slider .left-box {
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(3px);
      background-color: rgba(253, 191, 53, 0.26);
    }
  }
  .slick-arrow{
    bottom: 5px;
  }
  .btn-style, .btn-style-rounded{
    padding: 12px 22px;
  }
  .top-header {
    .info{
      ul{
        justify-content: center;
        li{
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .social {
      ul.social-list{
        justify-content: center;
        margin-top: 15px;
      }
    }
  }
  .features {
    .feature-list{
      margin-right: 0;
    }
    .feature-img {
      .card-img{
        width: 100%;
        height: 400px;
        a{
          right: unset;
          top: 0;
          bottom: unset;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }

  .media-photo{
    .big-img {
      .card-img{
        height: 300px;
      }
    }
    .small-images{
      .card-img{
        height: 160px !important;
      }
    }
  }
  .contact-us-box {
    form {
      .btn-submit button{
        width: fit-content;
      }
    }
  }
  .navbar-and-slider {
    .left-box {
      width: 100%;
      backdrop-filter: blur(0px);
      background-color: rgba(0,0,0,.3);
      padding-right: 20px;
      .left-content {
        .content{
          margin-right: 0;
        }
      }
    }
  }
  .media-video {
    .video-section {
      .card-img {
        img{
        }
      }
    }
  }
  .media-video{
    .video-section {
      .card-img {
        .play{
          text-align: center;
          img{
            width: 80%;
          }
        }
      }
    }
  }
  .custom-navbar-and-slider {
    .left-box{
      .left-content {
        .content p{
          margin-right: 0;
        }
      }
    }
  }
  .about-us-section-page {
    .ab-content{
      padding-right: 0;
    }
    .note-box{
      flex-direction: column;
      align-items: center !important;
      text-align: center;
      .card-body{
        margin-right: 0 !important;
        text-align: center;
        h5{
          margin-top: 10px;
        }
        p{
          margin: auto;
          width: 100%;
        }
      }
    }
  }
  .site-footer {
    .footer-contact p{
      width: 100%;
    }
  }
  .our-services-page {
    .our-service-slider-section {
      .section-header{
        position: unset;
      }
    }
  }
  .our-features {
    .feature-list{
      margin-right: 0;
    }
  }
  .feat-card{
    flex-direction: column;
    align-items: center;
    text-align: center;
    .card-body{
      margin-right: 0;
      margin-top: 10px;
    }
  }
  .video-media-card .card-img a{
    text-align: center;
    img{
      width: 70%;
      margin: auto;
    }
  }
}


/* ================================================================ */

/* Shared styles  */
%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%imglikebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%imgParent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%btnColor {
  padding: 10px 40px;
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 5px;
  color: #fff;
  font-family: jannab;
}
